@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_box {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile_box::before {
  content: "";
  background-color: #4070f4;
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  padding: 4px;
  background-color: rgb(45, 90, 226);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.image .img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.name {
  font-weight: 500;
}
.about {
  font-size: 0.8em;
  color: darkslategray;
}
.media-icons {
  display: flex;
  justify-content: center;
}

.media-icons .link {
  margin-left: 5px;
  margin-right: 5px;
  font-size: large;
}

.button {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.button button {
  margin: 0px 10px;
  height: 38px;
  width: 120px;
  border-radius: 24px;
  border: none;
  background-color: darkblue;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.button button:hover {
  background-color: #0465e4;
}

.interaction {
  display: flex;
  justify-content: center;
}
.interaction .action {
  padding: 0px 15px;
  margin: 15px 0px;
  border-right: 2px solid #e7e7e7;
  text-decoration: none;
}

.interaction .action:last-child {
  border-right: none;
}
